@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(pattern-background-desktop.svg);
  background-position: 0 -9rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e0e8ff;
}

.card {
  background-color: #f5f7ff;
  border-radius: 2rem;
  text-align: center;
  width: 35rem;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.19);
}

.card .img-area img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 100%;
}

.card .text-area .text-header {
  font-size: 1.25rem;
  padding-top: 2rem;
}

.card .text-area .text-content {
  width: 100%;
  color: #7280a7;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-block: 1rem;
}

.card .text-area .text-content p {
  width: 30rem;
  line-height: 2.5rem;
}

.card .text-area .text-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35rem;
}

.card .text-area .text-card .text-container {
  background-color: #d6d9f139;
  padding: 2rem;
  border-radius: 2rem;
}

.card .text-area .text-card .card-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .text-area .text-card .card-left-content h5 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
}

.card .text-area .text-card .card-left-content span {
  font-size: 1.4rem;
  color: #7280a7;
}

.card .text-area .text-card .card-left img {
  padding-right: 1rem;
}

.card .text-area .text-card .card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5rem;
}

.card .text-area .text-card .card-right-content span {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: underline;
  color: #3829e0;
  cursor: pointer;
}

.card .text-area .text-card .card-right-content span:hover {
  text-decoration: none;
  color: #7280a7;
}

.card .card-button {
  padding-block: 2rem;
}

.card .card-button button {
  background-color: #3829e0;
  color: white;
  -webkit-box-shadow: 1px 9px 15px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 9px 15px 5px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  letter-spacing: 0.15rem;
  padding: 1.5rem 6rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card .card-button button:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: rgba(103, 27, 141, 0.893);
}

.card .card-link {
  padding-bottom: 3rem;
}

.card .card-link a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  color: #7280a7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card .card-link a:hover {
  color: black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/*# sourceMappingURL=style.css.map */